@mixin flex($direction,$justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;

}

.navbar {
  @include flex(row, space-between);
  align-items: center;
  padding: 1.3rem;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  // border-bottom: 0.1rem solid gray;
  transition: all 0.5s;
}
